<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('header') %>
    <title>글 작성</title>
</head>

<body>
    <div class="container mt-5">
        <div class="form-group">
            <form>
                <div>
                    <input class="form-control" name="title" type="text" placeholder="제목을 입력하세요.">
                    <p></p>
                    <input class="form-control" name="nickname" type="text" placeholder="닉네임을 입력하세요.">
                    <p></p>
                    <input class="form-control" name="content" type="text" placeholder="내용을 입력하세요" style="min-height: 500px;">
                </div>
                <div class="mt-5">
                    <button type="button" class="btn btn-primary" onclick="onClickAdd(this.form)">등 록</button>
                    <button type="button" class="btn btn-secondary" onclick="onClickCancel()">취 소</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="/js/board.js"></script>

</html>